<nav>
    <div class="container">
      <div class="row">
        <div class="border col-7">
          <img src="../assets/images/logo.svg" alt="" />
        </div>
        <div class="border col menu">
          <img class="iconMenu" src="../assets/images/icon-menu.svg" alt="">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Treding</a></li>
            <li><a href="#">Categories</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
