.container{
  margin: auto;
  max-width: 1300px;
}
.border {
  border: 1px solid #dee2e6!important;
}
.row {
   display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.nota{
  padding: 0.1rem;
  margin-left: 2%;
}
.flotante{
  background: rgb(159, 159, 224);
}

.image1{
  width: 98%;
  margin: 0 auto;
 }

 .img_item{
  width: 100px;
  
}

ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 2% 2%;
  margin: 1;
} 


a{
  margin: 0.2rem;
  padding: 1vh;
  text-decoration: none;
  color: hsl(238, 22%, 44%);
}


.col {
  flex: 1 0 0%;
}


.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.texto{
  margin-top: 0;
   font-size: 50px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.item{
  display: flex;
}