

.flex-container {
  display: flex;
  justify-content: space-between;
  
 }

 ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 2% 2%;
  margin: 1;
} 

 a{
  margin: 0.2rem;
  padding: 1vh;
  text-decoration: none;
  color: hsl(238, 22%, 44%);
}


.image1{
  width: 750px;
  height: 250px;
}



.container{
  display: flex;
  
}

h1{
  color: wheat;
}

h4{
  font-weight: bold;
  color: white;
}
.nota p{
  color: white;
}

.parrafo{
  color:gray;
}

.texto{
  color:black;
}

.nota{
   padding: 0.1rem;
   margin-left: 2%;
   background: rgb(2, 2, 27);
}

.flex{
  display: flex;
}


.Contenedor{
  display: flex;
}

.img_item{
  width: 100px;
  
}
